/* header */
body {
    font-family: "PT Sans", sans-serif;
}

header {
    width: 1440px;
    margin: auto;
    background-color: #2A9D8F;
    padding: 38px 130px;

}

.logo-link {
    display: inline-block;
    width: 46px;
    height: 46px;
    vertical-align: middle;
    margin-right: 682px;
}

.logo-icon {
    width: 100%;
    height: 100%;
}

.header-nav {
    display: inline-block;
    vertical-align: middle;
}

.header-li {
    display: inline-block;
}

.m-right {
    margin-right: 72px;
}

.active {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    text-shadow: 4px 4px 4px #000000CC;
    color: #FFFFFF;
    ;



}

.inactive {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFF;
}

/* section */

section {
    width: 1440px;
    margin: auto;
    padding: 80px 130px;
    background-color: #D4F3F0;
}

.photo {
    vertical-align: top;
   
}

.sectionis-art {
    display: inline-block;
    width: 460px;
    height: 448px;
    vertical-align: top;
    margin-left: 115px;
}

h1 {

    font-weight: 700;
    font-style: Italic;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5%;
    color: #06686E;

}

.sectionis-p {
    font-weight: 400;
    font-style: Italic;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5%;
    text-align: justify;
    color: #06686E;
    margin-top: 32px;

}

.btn {
    width: 146px;
    height: 48px;
    background-color: #2A9D8F;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 42px;
    border: none;





}